@import 'vars';
@import 'mixins';
@import 'weather-icons';

:host {
  @include flex(column);
  // @include flex-position(space-between);
  width: 56rem;
  margin-top: $middle-font;
  margin-right: $double-offset;

  .content {
    @include flex;
  }

  .weather-container, .chart-container {
    @include flex(column);
    width: 100%;
    margin-bottom: $double-offset;
  }

  .title-container {
    @include flex;
    @include flex-position(space-between);
    margin-bottom: $middle-offset;

    &-text {
      color: $dark-blue-text;
      font-size: $middle-font;
      font-weight: bold;
    }

    &-button {
      @include flex;
      @include flex-center;
      background-color: transparent;
      color: $secondary-text;
      border: $default-border;
      font-size: $middle-font;
      cursor: pointer;
    }
  }

  .weather-cards {
    @include flex;
    @include flex-position(space-between);
    width: 100%;
    flex-wrap: wrap;

    .weather-card {
      @include flex;
      @include flex-position(space-between);
      width: 15rem;
      margin: $half-offset 0;
      padding: $middle-offset;
      background-color: whitesmoke;
      border-radius: 1rem;
      border: $default-border;
      transition: all .5s;
      cursor: pointer;

      &:hover {
        border-color: $secondary-text
      }

      &-container {
        @include flex;
      }

      &-icon {
        @include flex;
        @include flex-center;
        margin-right: $double-offset;
        font-size: 3rem;
        color: $secondary-text;
      }

      &-info {
        @include flex(column);
        margin-right: $half-offset;
        
        &-name {
          margin-bottom: $half-offset;
          font-size: $middle-font;
          color: $primary-text;
          white-space: nowrap;
        }

        &-value {
          font-size: $middle-font;
          font-weight: bold;
          color: $dark-blue-text;
        }
      }

      &-dynamic {
        @include flex;
        @include flex-center;

        &-icon {
          color: $warn;
        }

        .more {
          color: $secondary-text;
        }

        &-value {
          color: $primary-text;
        }
      }
    }
  }

  .wi {
    @include flex;
    @include flex-center;
    margin-right: $offset;
    font-size: 2.5rem;
    color: $secondary-text;
  }
}