@mixin flex($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin flex-center {
  justify-content: center;
  align-items: center;
}

@mixin flex-position($justify-content: flex-start, $align-items: normal) {
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin block-size($width, $height) {
  width: $width;
  height: $height;
}