$mainButtonColor: rgba(180, 184, 187, 0.4);
$buttonColorLight: rgba(76, 82, 85, 0.4);
$colorMain: #ffffff;
$colorHover: #6fb47e;
$tablet: 1000px;
$mobile: 380px;

@mixin flexBox {
  display: flex;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@keyframes rotateImage {
  0% { transform: rotate(0) ; }
  50% { transform: rotate(180deg)  }
  100% {  transform: rotate(360deg)  }
}

@keyframes changeBg {
  0% { background-color: rgb(0, 132, 255); }
  50% { background-color: #6fb47e }
  100% {  background-color: rgb(0, 132, 255)  }
}

@keyframes iconUpDown {  
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-10px); }
  50%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}

@keyframes microBack {
  0% { background-image: url(../assets/icons/Micro.svg); }
  50% { background-image: url(../assets/icons/Micro-active.svg);  }
  100% { background-image: url(../assets/icons/Micro.svg)  }
}

%left-border-radius {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

%right-border-radius {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: $colorMain;
}

body {
  max-width: 1444px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.block-control {
  @include flexBox();
  justify-content: space-between;
  width: 87%;
  margin: 40px auto;

  @media (max-width: $tablet){
    align-items: center;
    flex-direction: column;
  }
}

.button-controls {
  @include flexBox();
  justify-content: space-between;
  width: 240px;

  @media (max-width: $tablet){
    
    align-items: center;
    margin-top: 20px;
    order: 2;
  }
 
}

.button-controls__default {
  background-color: $mainButtonColor;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #ffffff;
  outline: none;

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $colorHover;
  }
}

.button-controls__switch-back {
  @include flexBox();

  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  &:hover {
    background-color:#6fb47e;
  }
}

.button-controls__image {
  &:hover {
    animation: rotateImage 3s ease-in-out infinite;
  }
}

.button-controls__language {
  width: 71px;
  height: 44px; 
  padding: 9px 2px;
}

.list-measure-buttons {
  @include flexBox();
  list-style: none;
}

.button-controls__measure {
  @include size(44px, 44px);
  background-color: $buttonColorLight;

  &:hover {
    animation: changeBg 3s ease-in-out infinite;
  }
}

.button-controls__measure--active {
  background-color: $mainButtonColor;
}

.button-controls__measure--left-border {
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button-controls__measure--right-border {
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-control {
  @include flexBox();

  @media (max-width: $tablet){
    order: 1;
  }
}

.search-control__place {
  @include size(274px, 42px);
  @extend %left-border-radius;

  position: relative;
  padding-left: 15px;
  background: rgba(76, 82, 85, 0.4);
  border: 1px solid transparent;
  color: #ffffff;

  &::placeholder {
    color: #ffffff;
  }

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  @media (max-width: $tablet){
    width: 100%;
  }
}

.search-control__button {
  @include size(101px, 44px);
  @extend %right-border-radius;

  background-color: $mainButtonColor;
  text-transform: uppercase;
  border: 1px solid transparent;
  color: #ffffff;

  &:hover {
    background-color:$colorHover;
    animation: changeBg 3s ease-in-out infinite;
  }
}

.wrapper-info {
  @include flexBox();
  justify-content: space-around;
  margin-top: 50px;

  @media (max-width: $tablet){
    flex-direction: column;
  } 
}

.weather {
  @include flexBox();

  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;

  @media (max-width: $tablet){
    width: 100%;
  }
}

.weather-today__city{
  text-transform: uppercase;

  @media (max-width: $tablet){
    text-align: center;
  }
}

.weather-today {
  @include flexBox();

  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background-color: rgba(51, 39, 39, 0.548);

  @media (min-width: $mobile) and (max-width: $tablet){
    max-width: 60%;
    min-width: 390px;
  }
}

.weather-today__location {
 font-size: 44px;
 line-height: 54px;
}

.weather-today__time {
  margin-right: 5px;
  font-size: 24px;
  line-height: 29px;
  order: 2;

  @media (max-width: $mobile){
    font-size: 20px;
  }
}

.weather-today__date {
  display: flex;
  justify-content: space-between;
  width: 26%;
}

.weather-today__info{
  @include flexBox();
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  order: 1;

  @media (max-width:$mobile) {
    width: 93%;
    margin: 0 auto;
  }
}

.weather-today__day-info {
  @include flexBox();
  justify-content: space-around;
  width: 280px;
  margin-right: 10px;
  font-size: 24px;
  line-height: 29px;


  @media (min-width: $mobile) and (max-width: $tablet){
    width: 275px;
  }

  @media (max-width: $mobile) {
    justify-content: space-around;
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 20px;
  }
}

.weather__degree-number {
  font-size: 160px;
  
  @media (min-width: $mobile) and (max-width: $tablet) {
    font-size: 130px;
  }

  @media (max-width: $mobile) {
    font-size: 100px;
  }
}

.weather-today__wrapper {
  @include flexBox();

  flex-wrap: wrap;
  width: 375px;
  
  @media (min-width: $mobile) and (max-width: $tablet) {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  } 

  @media (max-width: $mobile){
    justify-content: center;
    width: 100%;
    font-size: 20px;
  }
}

.list-weather {
  margin-left: 4%;
  padding-top: 20px;
  list-style: none;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.geolocation {
  @include flexBox();
  flex-direction: column;

  @media (max-width: $tablet){
    align-items: center;
  }
}

.maps {
  @include size(500px, 400px);

  @media (max-width: $tablet){
    @include size(80%, 200px);
  }
}

.geolocation__coors {
  text-transform: uppercase;
  margin: 5px 0;
  color: #ffffff;
}

.icon {
  font-size: 100px;
  color: $colorMain;
  animation: iconUpDown 5s ease-in-out infinite;

  @media (max-width: $tablet){
    font-size: 65px;
  }
}

.weather-future {
  @include flexBox();
  flex-wrap: wrap;
  justify-content: center;


  @media (min-width: $mobile) and (max-width: $tablet) {
    flex-wrap: wrap;
    font-size: 35px;
  }

  @media (max-width: $mobile) {
    justify-content: space-around;
  }
}

.weather-future__element, 
.weather-future__temp {
  font-size: 40px;

  @media (min-width: $mobile) and (max-width: $tablet) {
    font-size: 35px;
  }

  @media (max-width: $mobile) {
    font-size: 20px;
  }
}

.icon--small {
  font-size: 30px;
  animation: iconUpDown 5s ease-in-out infinite;
}

.day-temp {
  margin: 10px;
  text-align: center;

  @media (max-width: $mobile) {
    margin: 0 10px;
  }
}

.message-error {
  position: absolute;
  width: 300px;
  height: 60px;
  margin-left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  border-radius: 10px;
  color: #D8000C;
  background-color: #FFD2D2;
}

.button-close {
  @include size(18px, 18px);
  
  position: relative;
  margin: 5px;
  float: right;
  border: 1px solid transparent;
  background-color: transparent;
  background-image: url(../assets/icons/close.png);
  background-repeat: no-repeat;
}

.message-error__text {
  display: inline-block;
  margin-top: 17px;
  margin-left: 18%;
  font-size: 20px;
}

#talk-button{
  width: 50px;
  height: 44px;
  background-color: rgba(76, 82, 85, 0.4);
  border: 1px solid transparent;
  background-image: url(../assets/icons/Micro.svg);
  background-position: center;
  background-repeat: no-repeat;

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $colorHover;
    animation: microBack 3s ease-in-out infinite;
  }
}