<section class="logo-container">
  <mat-icon class="logo-container-icon">beach_access</mat-icon>
  <span class="logo-container-title">Weather</span> 
</section>
<section class="controls-container">
  <ng-container *ngFor="let routerButton of pageConfig">
    <button 
      class="sidebar-button" 
      (click)="activePage = routerButton.page" 
      [routerLink]="routerButton.url" 
      [ngClass]="{'active': isActivePage(routerButton.page)}"
    >
      <mat-icon class="icon" fontSet="material-icons-outlined">{{routerButton.icon}}</mat-icon>
      {{routerButton.page}}
    </button>
  </ng-container>
</section>
<section class="setting-container">
  <button class="sidebar-button setting-container-button">
    <mat-icon class="icon" fontSet="material-icons-outlined">settings</mat-icon>
    {{languageConfig.system.settings}}
  </button>
  <ng-container *ngIf="true; else login">
    <button class="sidebar-button setting-container-button">
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="logOut()">logout</mat-icon>
      {{languageConfig.system.logout}}
    </button>
  </ng-container>
  <ng-template #login>
    <button class="sidebar-button setting-container-button">
      <mat-icon class="icon" fontSet="material-icons-outlined" (click)="logIn()">login</mat-icon>
      {{languageConfig.system.login}}
    </button>
  </ng-template>
</section>