<section class="logo-container">
  <mat-icon class="logo-container-icon">beach_access</mat-icon>
  <span class="logo-container-title">Weather</span> 
</section>
<section class="controls-container">
  <ng-container *ngFor="let routerButton of pageConfig">
    <button 
      class="sidebar-button" 
      (click)="activePage = routerButton.page" 
      [routerLink]="routerButton.url" 
      [ngClass]="{'active': isActivePage(routerButton.page)}"
    >
      <mat-icon class="icon" fontSet="material-icons-outlined">{{routerButton.icon}}</mat-icon>
      {{routerButton.page}}
    </button>
  </ng-container>
</section>
<section class="setting-container">
  <span class="setting-container-title">System</span>
  <ng-container *ngFor="let settingButton of settingButtons">
    <button class="sidebar-button setting-container-button">
      <mat-icon class="icon" fontSet="material-icons-outlined">{{settingButton.icon}}</mat-icon>
      {{settingButton.title}}
    </button>
  </ng-container>
</section>