$primary: #1E3453;
$secondary: #EEF2F3;
$white: #ffffff;
$black: #000000;
$warn: #AF4041;
$light-gray: #828f9fbe;
$light-blue: #8CB2FB;

$primary-text: #AEB3B6;
$secondary-text: #3069FE;
$dark-blue-text: #102D57;

$default-font: 1rem;
$middle-font: $default-font * 1.3;
$double-font: $default-font * 2;

$half-offset: 0.5rem;
$offset: $half-offset * 2;
$middle-offset: $offset * 1.5;
$double-offset: $offset * 2;

$default-border: 1px solid transparent;

$default-border-radius: 0.5rem;
$double-border-radius: $default-border-radius * 2;